 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Plot</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
          
                    <p>Back in 2010 World of Piggy was a math webcomics of a pig sharing his room with an 
                     engineer. Piggy solved problems with math. The engineer executed. A terrific 
                     combination of skills!
                    </p>
                </div>
                <div class="col-lg-4">
                 <p>Being at the center of applied mathematics, statistics, computer science and engineering the two 
                  forge ideas that implement in a plethora of domains, from finance to healthcare, social media and
                  every day life.
                   </p>
                 <p>Their major focus is on artificial intelligence, advanced data science and machine learning.
                  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    <!--
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                    -->
                    
                </div>
            </div>
        </div>
    </section>
