 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Plot</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
          
                    <p>Since 2010 Piggy is living with an engineer and to return the favour of the accomodation he solves some engineering problems with math. 
                    Serious incompatibilities arose soon though. 
                    
                    </p>
                </div>
                <div class="col-lg-4">
                 <p>Piggy is a mathematician, the other is a computer engineer. </p>
                 <p>Together they do data science and artificial intelligence.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    <!--
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                    -->
                    
                </div>
            </div>
        </div>
    </section>
